Repository programminghistorian/ph-submissions, pull requests merged in 2024-11, with the labels that each got.

#637 Copyedit georreferenciacion visualizacion con recogito y visone
  es/borradores/originales/georreferenciacion-visualizacion-con-recogito-y-visone.md
Labels: Español

#639 Copyedit preserver logiciels recherche
  assets/preserver-logiciels-recherche/gpl-3.0.txt
  fr/en-cours/originales/preserver-logiciels-recherche.md
Labels: Français, 6. Sustainability + Accessibility, Original

#641 Copyedit uso-las-colecciones-hathitrust-mineria-textual-r
  es/borradores/originales/uso-las-colecciones-hathitrust-mineria-textual-R.md
Labels: Español, 6. Sustainability + Accessibility, Original

#642 Copyedit interactive data visualization dashboard
  en/drafts/originals/interactive-data-visualization-dashboard.md
Labels: English, 6. Sustainability + Accessibility, Original
